<div class="relative flex flex-col gap-4">
    <h1 class="text-3xl font-extrabold text-center text-slate-300">Hangman</h1>
    @if (gameStateService.status() === 'SELECT_DIFFICULTY') {
        <app-hangman-difficulty></app-hangman-difficulty>
    } @else {
        <div class="flex flex-col gap-4">
            <app-hangman-game></app-hangman-game>
            @if (gameStateService.status() === 'WON') {
                <app-hangman-won [@wonEffect]></app-hangman-won>
            } @else if (gameStateService.status() === 'LOST') {
                <app-hangman-lost [@lostEffect]></app-hangman-lost>
            }
        </div>
    }
</div>
