<div class="flex flex-col gap-2 rounded-md">
    <div class="w-32 py-3 mx-auto md:w-40 xl:w-48">
        <app-hangman-indicator></app-hangman-indicator>
    </div>
    <div class="flex flex-wrap justify-center gap-1 md:gap-3 xl:gap-4">
        @for (letter of wordLetters(); track $index) {
            <app-hangman-letter [letter]="letter"></app-hangman-letter>
        }
    </div>
    <app-letter-select></app-letter-select>
    <div
        *ngIf="!gameStateService.gameOver()"
        class="absolute top-0 left-0 right-0 flex justify-between"
    >
        <app-button
            label="Give up"
            (onClick)="gameStateService.givingUp()"
            type="DANGER"
        ></app-button>
        <div>{{ gameStateService.lifeLeft() }} 💖</div>
    </div>
</div>
