<div class="flex flex-col items-center gap-3">
    <div class="flex gap-2">
        <span class="text-xl">Select the length of the word:</span>
        <select
            *ngIf="possibleLengths$ | async as possibleLengths"
            [(ngModel)]="lenghtOfWord"
            class="text-black"
        >
            @for (length of possibleLengths; track $index) {
                <option [value]="length">
                    {{ length }}
                </option>
            }
        </select>
    </div>
    <div class="flex gap-2">
        <app-button
            label="RULES"
            (onClick)="showRules()"
            type="WARNING"
        >
        </app-button>
        <app-button
            label="START GAME"
            (onClick)="startGame()"
        >
        </app-button>
    </div>
</div>
